/* The value and type set up */
.dateTimeDisplay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #fff;
	margin: 1em;
}

/* The main countdown display */
.countdownDisplay {
	display: grid;
	grid-template-columns: auto auto auto auto;
	place-items: center;
}

/* Main countdown display p to change the type */
.countdownDisplay p {
	text-transform: uppercase;
	font-size: 0.75rem;
	line-height: 1rem;
}

/* Responsive */
/* Mobile - S(320), M(375px), L(425px)  */
@media screen and (max-width: 426px) {
	.countdownDisplay {
		grid-template-columns: auto auto;
	}
}
