/* The countdown "frame" */
.countdownLink {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #000;
	gap: 1em; /*Gap between the "jingles"*/
}

/* Each individual count down pair */
.showCounter .countdown {
	line-height: 1.25em;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;

	/* Round background */
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: white;
}

/* The value that is counted down */
.showCounter .countdown > p {
	margin: 0;
}

/* How the type is displayed on countdown */
.showCounter .countdown > span {
	text-transform: uppercase;
	font-size: 0.75rem;
	line-height: 1rem;
}
