@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* https://fonts.google.com/specimen/Roboto */

* {
	box-sizing: border-box;
	color: black;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

html,
body {
	background-image: url("../assets/svgChristmasBackground.png");
	background-size: cover;
}

main {
	padding: 0.625em;
}

/* Responsive */
/* Mobile - S(320), M(375px), L(425px)  */
@media screen and (max-width: 426px) {
	html,
	body {
		background: linear-gradient(to left, #b31217, #e52d27);
	}
}
