/* Container */
.formMessage {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Sizes is still under debate.. Just to get an idea */
/* .formName {
	height: 50px;
	width: 150px;
}

.formText {
	height: 50px;
	width: 300px;
}

.formSubmit {
} */
